body   
{
    background-color: #8BA1BB;                         
    font-family: Arial;                                    
}
/* LES PROPRIETES DISPLAY: NOUS EN AVONS PLUSIEURS MAIS NOUS ALLONS UTILISER PRINCIPALEMENT 3 A SAVOIR : 

DISPLAY BLOCK: PERMET DE PRENDRE TOUTE LA LARGEUR DISPONIBLE, TOUT L'ESPACE DISPONIBLE ET çA VA POUSSER LES ELEMENTS RESTANTS EN SOUS
               A NOTE: CETTE PROPRIETE ACCEPTE LARGEUR(WIDTH) ET HAUTEUR(HEIGHT)

DISPLAY INLINE: PERMET DE METTRE LES ELEMENTS DES UNS APRES LES AUTRES.
               A NOTE: CETTE PROPRIETE N'ACCEPTE PAS DE LARGEUR(WIDTH) ET NI HAUTEUR(HEIGHT)

DISPLAY INLINE-BLOCK: PERMET DE METTRE LES ELEMENTS DES UNS APRES LES AUTRES
               A NOTE: CETTE PROPRIETE ACCEPTE LARGEUR(WIDTH) ET HAUTEUR(HEIGHT)*/
p.categorie  
{
    background-color: black;                                 
    color: white;  
    display: inline-block;     
    margin-top: 0;  
    padding: 8px 18px; 
    margin-bottom: 0;  
    font-weight: bold;
    font-size: 16px;
    
}
div.separateur 
{
    background-color: black;
    width: 100px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
}

div.entete 
{
    text-align: center;
    margin-bottom: -18px;
    margin-top: 60px;
   
}
/*  LE MARGIN NOUS PERMET DE DEFINIR LES VALEURS DE LA MARGE EXTERNE(les bordures totales) DE NOTRE PAGE
    LE PADING NOUS PERMET DE DEFINIR LES VALEURS DE LA MARGE INTERNE(entre les bordures et les ecritures) DE NOTRE PAGE
    LE WIDTH NOUS PERMET DE DEFINIR LA LARGEUR
    LE HEIGHT NOUS PERMET DE DEFINIR LA LONGUEUR*/
 
/* styles pour mobile */
div.contenu
{
    background-color: white;
    margin: 0px 8px 40px 8px; /* margin veut dire les cotés ou marges externes 
    de notre contenu(le fond blanc) [HAUT, DROITE, BAS, GAUCHE]*/
    padding: 0px 8px 20px 8px; /*padding veut dire les cotés ou marges internes
    de notre contenu(le fond blanc) [HAUT, DROITE, BAS, GAUCHE ]*/
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); 

}


h1
{
    text-align: center;
    margin-bottom: 12px ;
    margin-top: 10px;
   
}

p.description
{
    text-align: center;
    max-width: 400px; /* ICI ON A DIT DANS P.DESCRIPTION, QUE LA LARGEUR NE DOIT PAS DEPASSE 400px */
    display: inline-block;
    font-size: 14px;
}

div.description
{
    text-align: center;
}

img.image
 {
    text-align: center;
    width: 100%;
    display: block;
    max-height: 400px; /* LIMITER L'IMAGE A NE PAS S'AGRANDIR QUAND ON ELARGIE L'ECRAN*/
    min-height: 200px; /* LIMITER L'IMAGE QUAND L'IMAGE RETARDE(RESEAU RETARDE) A S'AFFICHER*/
    background-color: #8BA1BB; /* LA COULEUR QUI S'AFFICHE QUAND L'IMAGE RETARDE A S'AFFICHER*/
    object-fit: cover; /* PERMET A L'IMAGE DE NE PAS SE DEFORMER QUAND ON ELARGIE L'ECRAN */
    
}
div.position 
{
    position:relative; 

}
table.position {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    height: 50px;
    color: white;
    background-color: #6C8290C0;
}
tr.centrer
{
    text-align:center ;
    font-size: 12px;
    vertical-align: top;
   
}
th.center{
    font-size: 12px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

div.colonne1
{
    width: 100%;
    display: inline-block;
  

}


h2.centre{
    text-align: center;
    text-transform: uppercase; /* PERMET DE METTRE EN MAJUSCULE */
    font-size: 15px;
    border-bottom: 5px  solid #6C8290; /* PERMET DE METTRE LES BORDURE */
    padding-bottom: 5px;
}
ul.liste
{
    text-align: center;
}
div.border p {
    text-align: center;
    font-size: 14px;
    border: 1px solid #6C8290;
    padding: 8px 0 ;
    margin-top: 4px;
    margin-bottom: 0;
   
}
table.preparation td.numero
{
    background-color: #6C8290;
    color: white;
    width: 25px;
    height:25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box; /* NOUS PERMET DE CONSERVER LES DIMENSIONS (width, height, font-size...)*/
    border-radius: 50%; /*NOUS PERMET DE RENDRE LES ELEMENTS RONDS(voir photo d'à coté sur 1,2,3 et 4*/
    vertical-align: top;
    margin: 0;
}
td.etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr{
    height: 40px;
}
*{
    overflow: auto;   /* NOUS PERMET DE METTRE LES ELEMENTS QUI DEBORDENT NOTRE PAGE SUR NOTRE PAGE*/
}

/* styles pour ordinateur */
@media only screen and (min-width: 768px){   
    /*si la largeur minimale c'est 768px alors applique les critères en bas */
       
        div.contenu{
            margin: 0px 10% 80px 10%; /* [HAUT, DROITE, BAS, GAUCHE ] */
            padding: 30px; /* la marge totale */ 
            min-width: 350px; /* LARGEUR MINIMALE */
        }
        div.colonne1
       {
        width: 45%;
        
       }
    
        div.colonne2
        {
        float: right; /* PERMET D'AFFICHER QUELQUES CHOSES A COTE */
    
       }
        
        
    }

/* styles pour les ecrans trop grands */
@media only screen and (min-width: 900px){   
    /*si la largeur minimale c'est 900px alors applique les critères en bas */
       
        div.contenu{
            margin-left: auto;
            margin-right: auto;
            width: 645px;
        }
    }
/* DANS CETTE PARTIE NOUS L'AVONS DIT SI LA TAILLE DE L'ECRAN EST MINIMALE 900px
 ALORS NOTRE CONTENU DOIT RESTER AU MILIEU
C'EST A DIRE IL DOIT PAS PRENDRE LA TAILLE DE L'ECRAN.

        
    
    